# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual Environment
.venv/
venv/
env/

# Django
*.log
local_settings.py
db.sqlite3
media/
logs/

# Environment
.env
*.env

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Distribution
dist/
build/
*.egg-info/

# Tests
.coverage
htmlcov/