attr==0.3.2
backports.statistics==0.1.0
bpython==0.26
brotli==1.2.0
brotlicffi==1.2.0.2
chardet==7.6.0
colorama==0.4.6
ConfigParser==7.2.0
coreschema==0.0.4
cryptography==50.0.1
django_crispy_forms==2.7
djangorestframework_camel_case==1.4.2
docutils==0.23
filelock==3.32.6
flex==6.14.1
h2==4.4.1
HTMLParser==0.0.2
importlib_metadata==9.0.1
ipdb==0.13.13
ipython==9.17.1
ipywidgets==8.1.9
isort==9.0.1
jnius==1.1.0
keyring==25.7.0
Markdown==3.10.3
MySQL-python==1.2.5
numpy==2.5.3
oracledb==26.0.0
Pillow==12.3.0
psycopg==3.3.5
psycopg2==2.9.13
psycopg_pool==3.3.1
pylibmc==1.6.3
pymemcache==4.0.0
pyodide==0.0.2
pyOpenSSL==26.4.0
pywatchman==4.0.0
sets==0.3.2
setuptools==84.0.0
simplejson==4.1.2
Sphinx==9.1.0
swagger_spec_validator==3.0.4
tblib==3.2.2
thread==2.0.6
xmlrpclib==1.0.1
